<h1>Lista de Veículos</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Situação</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           
            <td>id</td>
            <td>Fusca</td>
            <td>VW</td>
            <td>Alugado</td>
            <td>
                <a href="">Editar</a>
                <form action="" method="post">
                    <button type="submit">Deletar</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>